@import "../../style/_colors";
@import "../../style/_constants";

.page {
    background: $color-primary-dark;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.page__content {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

.page__content-inner {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}