@import "../../style/_colors";

$size: 150px;

.canvas-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.canvas-list__item {
    background: $color-primary;
    border-bottom: 1px solid $color-primary-dark;
    color: #ffffff;
    display: flex;
    height: calc(#{$size} + 4em);
    padding: 2em;
}

.canvas-list__item-thumbnail {
    flex-basis: $size;
    margin-right: 2em;
}

.canvas-list__item-details {
    flex-grow: 1;

    h2,
    h3 {
        margin: 0 0 1em 0;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }
}

.canvas-list__item-controls {
    font-size: 1.25em;

    .btn:first-child {
        margin-left: 0;
    }
}

.canvas-list__empty {
    font-size: 1.5em;
    margin: 2em;
    text-align: center;
}