/******************************************************************************
 * Palette                                                                    *
 *   Aqua: #2fb59a                                                            *
 *   Light Aqua: #49cdb2                                                      *
 *   Lighter Aqua: #6beed3                                                    *
 *   Dark Aqua: #1da58a                                                       *
 *   Darker Aqua: #029277                                                     *
 *   Dark Grey: #5a6673                                                       *
 *   Light Grey: #f3f3f3                                                      *
 ******************************************************************************/

/******************************************************************************
 * Utility classes
 ******************************************************************************/

/* Clear Fix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

/******************************************************************************
 * Base Styles
 ******************************************************************************/

* {
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body {
    background: #f6f8f8;
    color: #5A6673;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 { font-size: 2.75em; }

label { padding: 0 0 0 3px; }

input[type="submit"] {
    font-size: 15px;
    line-height: 1.2em;
    margin: 7px 0 0 0;
    width: 100%;
}

input[type="submit"],
button {
    background: #2fb59a;
    border: none;
    border-bottom: 2px solid #029277;
    border-radius: 3px;
    color: #ffffff;
    font-weight: normal;
    margin: 14px 0 0 0;
    padding: 12px 0;
    text-shadow: none;
}
input[type="submit"]:hover,
button:hover {
    background: #49cdb2;
    border-bottom: 2px solid #2fb59a;
}

input[type="submit"]:active,
button:active {
    background: #029277;
    border-bottom: 2px solid #029277;
}

/******************************************************************************
 * Header
 ******************************************************************************/

header {
    background: #2fb59a;
    border-bottom: 1px solid #029277;
    color: #ffffff;
    height: 38px;
    position: relative;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

header input,
header button,
header a { vertical-align: middle; }

header div#tools { height: 100%; }

header span.tool-wrap,
header span.colors,
header span.size {
    border-right: 1px solid #1da58a;
    display: inline-block;
    height: 100%;
    margin-right: -4px;
    vertical-align: top;
}

header span.colors,
header span.size {
    border-left: 1px solid #49cdb2;
    padding: 7px 10px;
}

header span.colors { margin-top: -1px; }
header span.size { border-right: none; }

/* Color Input Styling */

header input[type="color"],
header div.sp-replacer {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

header input[type="color"],
header div.sp-preview {
    height: 23px;
    width: 25px;
}

header div.sp-dd { display: none; }

header input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

header div.sp-preview {
    border: none;
    border-radius: 3px;
    margin: 0;
}
header input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 3px;
}

/* Range Input Styling */

header input[type="range"] {
    padding-left: 5px;
    width: 130px;
}
header input[type="range"]:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* Radio Buttons */

header input[type="radio"] { display: none; }
header input[type="radio"]:checked + label {
    background-color: #029277;
}
header input[type="radio"]:checked + label:hover {
    background-color: #6beed3;
}

/* Tools Menu */

#tools { float: left; }

.tool {
    display: inline-block;
    height: 100%;
}
.tool label {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    padding: 5px;
}

/* GitHub Link */

a.github-link {
    background: url("/images/icons/GitHub-Mark.png");
    display: block;
    float: right;
    height: 26px;
    margin: 5px 55px 0 0;
    width: 26px;
}
a.github-link span { display: none; }

/* Actions Menu */

#actions {
    border-left: 1px solid #1da58a;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
#actions > a {
    border-left: 1px solid #49cdb2;
    display: inline-block;
    height: 100%;
    padding: 5px 9px 0 9px;
}
#actions:hover > a {
    background: #ffffff;
    border-left: none;
    color: #029277;
}

#action-menu {
    background: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    display: none;
    margin: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 100%;
    width: 92px;
    z-index: 2;
}
#actions:hover #action-menu { display: block; }
#action-menu a {
    border-bottom: 1px solid #f3f3f3;
    color: #029277;
    display: inline-block;
    padding: 10px 15px;
    width: 100%;
}
#action-menu li:last-child a { border-bottom: none; }
#action-menu a:hover {
    background: #2fb59a;
    color: #ffffff;
}

/******************************************************************************
 * Login
 ******************************************************************************/

#user-login {
    font-size: 19px;
    margin: 40px auto;
    text-align: center;
    width: 375px;
}

input[name="name"] {
    border-radius: 3px;
    color: #000;
    height: 30px;
    font-size: 17px;
    margin: 14px 0 0 0;
    padding: 2px 6px;
    vertical-align: middle;
    width: 100%;
}

.error { color: #ff0000; }

.notice {
    bottom: 10px;
    font-size: 13px;
    left: 10px;
    margin: 0;
    position: fixed;
}
.notice a:visited { color: #5A6673; }

/******************************************************************************
 * Loading
 ******************************************************************************/

.loading { text-align: center; }

.loading img { margin-top: 16px; }

/******************************************************************************
 * Canvases
 ******************************************************************************/

#canvases {
    overflow: hidden;
    position: relative;
}
#canvases.centered {
    border: 1px solid #5a6673;
    margin: 20px auto;
}

#canvases, #layers {
    width: 100%;
}

#canvases.tool-pencil { cursor: url(/images/cursors/pencil.png), crosshair; }
#canvases.tool-rectangle,
#canvases.tool-circle { cursor: crosshair; }
#canvases.tool-eraser { cursor: url(/images/cursors/eraser.png), crosshair; }
#canvases.tool-colorpicker { cursor: url(/images/cursors/colorpicker.png), crosshair; }

.layer {
    background: #fff;
}
#layers, #user-canvas, .layer, canvas {
    left: 0;
    position: absolute;
    top: 0;
}

/******************************************************************************
 * Icons
 ******************************************************************************/

.icon {
    background: url(/images/sprites.png) no-repeat;
    display: inline-block;
    height: 26px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 26px;
}

.icon span { display: none; }

.icon-pencil       { background-position: -1px -1px;  }
.icon-pencil:hover { background-position: -1px -28px; }

.icon-rectangle       { background-position: -28px -1px;  }
.icon-rectangle:hover { background-position: -28px -28px; }

.icon-circle       { background-position: -55px -1px;  }
.icon-circle:hover { background-position: -55px -28px; }

.icon-eraser       { background-position: -82px -1px;  }
.icon-eraser:hover { background-position: -82px -28px; }

.icon-colorpicker       { background-position: -109px -1px;  }
.icon-colorpicker:hover { background-position: -109px -28px; }

.icon-chat       { background-position: -136px -1px;  }
.icon-chat:hover { background-position: -136px -28px; }

.icon-more           { background-position: -163px -1px;  }
div:hover .icon-more { background-position: -163px -28px; }