@import "../../style/_colors";

.avatar {
    border: 2px solid $color-primary-darker;
    border-radius: 50%;
    display: inline-block;

    img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
    }
}