@import "../../style/_colors";

.input {
    background: $color-primary-darker;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 1.5em;
    margin: 0.5em;
    padding: 0.75em;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: $color-primary;
    }
}

.input--disabled {
    background: desaturate($color-primary-dark, 40%);
    cursor: not-allowed;

    &::placeholder {
        color: desaturate($color-primary-light, 40%);
    }
}