@import "_normalize";
@import "_colors";

* {
    box-sizing: border-box;
}

body {
    line-height: 1;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    font-weight: 300;
}

html, body, #mount {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

::selection {
    background: $color-tertiary-darker;
}

a {
    color: $color-tertiary;

    &:visited {
        color: $color-tertiary-darker;
    }
}