@import "../../style/_colors";

.btn {
    background: $color-primary-light;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5em;
    line-height: 1;
    margin: 0.5em;
    padding: 0.75em;
    text-shadow: 1px 1px 0 $color-primary-dark;

    &:focus {
        outline: none;
    }

    &:active {
        background: $color-primary-darker;
    }

    &.btn--primary {
        background: $color-secondary-light;
        text-shadow: 1px 1px 0 $color-secondary-darker;
    
        &:active {
            background: $color-secondary-darker;
        }
    }

    &.btn--warning {
        background: $color-tertiary;
        text-shadow: 1px 1px 0 $color-tertiary-darker;

        &:active {
            background: $color-tertiary-darker;
        }
    }

    &.btn--transparent {
        background: transparent;
        box-shadow: none;
        color: $color-primary-dark;
        text-shadow: 1px 1px $color-primary-lighter;
    }
    
    &.btn--disabled {
        $background: desaturate($color-primary, 40%);
        background: $background;
        cursor: not-allowed;
        text-shadow: 1px 1px 0 darken($color-primary-darker, 5%);
    
        &:active {
            background: $background;
        }
    }
}