@import "../../style/_colors";

.dropdown {
    background: $color-primary-light;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0.5em 0;
    position: absolute;
    text-align: left;
    text-shadow: 1px 1px 0 $color-primary-dark;
    top: 100%;
    width: 250px;
    z-index: 99;
}

.dropdown-item {
    cursor: pointer;
    line-height: 1em;
    overflow: hidden;
    padding: 0.5em 1em;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
        background: $color-secondary-light;
        text-shadow: 1px 1px 0 $color-secondary-darker;

        hr {
            background: $color-secondary-dark;
        }
    }

    hr {
        background: $color-primary-dark;
        border: none;
        height: 1px;
    }

    a,
    a:active,
    a:visited {
        color: #ffffff;
        text-decoration: none;
    }

    a {
        display: inline-block;
        width: 100%;
    }

    .fa {
        width: 1.5em;
    }
}