.profile-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.profile-page__header-inner {
    display: flex;
    padding: 3em;

    .input,
    .btn {
        margin: 0 0.5em 0 0;
    }

    .btn {
        width: 38px;
    }
}

.profile-page__avatar {
    height: 120px;
    overflow: hidden;
    position: relative;
    width: 120px;
}

.profile-page__avatar-overlay {
    background: #000000;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2em;
    height: 100%;
    left: 0;
    line-height: 120px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;

    &:hover {
        opacity: 0.6;
    }

    i {
        vertical-align: middle;
    }
}

.profile-page__edit-avatar,
.profile-page__header-details {
    flex-grow: 1;
    padding-left: 3em;
}

.profile-page__edit-avatar {
    label {
        display: block;
        font-size: 1.8em;
        margin: 0.8em 0;
    }
}

.profile-page__header-details {
    h2 {
        font-size: 2.5em;
        margin: 0.8em 0;
    }

    h3 {
        font-size: 1.25em;
        margin: 1em 0;
    }

    a {
        color: #ffffff;
        font-size: 0.8em;
        margin-left: 0.5em;
    }
}

.profile-page__edit-username {
    margin: 1.2em 0;
}

.profile-page__canvas-list {
    flex-grow: 1;
    overflow-y: auto;
}