@import "_normalize";
@import "_colors";

* {
    box-sizing: border-box;
}

body {
    line-height: 1;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    font-weight: 300;
}

html, body, #mount {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

input[type="text"],
button {
    border: none;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1.75em;
    height: 3em;
    margin: 0.75em 0;
    width: 100%;

    &:focus {
        outline: none;
    }
}

button:active {
    background: $color-primary-darker;
}

input[type="text"] {
    background: $color-primary-darker;
    padding: 1em;
}

input[type="text"]::placeholder {
    color: $color-primary;
}

button {
    background: $color-primary-light;
}

.app {
    height: 100%;
}