@import "../../style/_colors";

.easel-wrap__user {
    background: #000000;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1.5em;
    opacity: 0.5;
    padding: 0.15em;
    position: absolute;
}


.easel__settings input[type="range"] {
    vertical-align: text-bottom;
}

.easel__share {
    float: right;
    height: 100%;
    margin: 0 0.5em 0 0;
    width: 100px;
}

.easel__save {
    margin: 0;
}