$color-primary: #2FB59A;
$color-primary-light: #50C8B0;
$color-primary-lighter: #7FDECB;
$color-primary-dark: #10A689;
$color-primary-darker: #01846A;

$color-secondary: #FFB942;
$color-secondary-light: #FFC766;
$color-secondary-lighter: #FFD792;
$color-secondary-dark: #FFAA19;
$color-secondary-darker: #CE8302;

$color-tertiary: #F54059;
$color-tertiary-light: #F86378;
$color-tertiary-lighter: #FB909F;
$color-tertiary-dark: #F31735;
$color-tertiary-darker: #C4021D;