@import "../../style/_colors";
@import "../../style/_helpers";

.loading {
    background: $color-primary;
    bottom: 0;
    font-size: 4em;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    i {
        @include absolute-center(40px, 40px);
        color: #FFFFFF;
    }
}