@import "../../style/_colors";
@import "../../style/easel";

.easel__save {
    float: right;
    height: calc(100% - 0.7em);
    margin: 0.35em;
    vertical-align: middle;
    width: 100px;
}

.easel-wrap__user {
    background: #000000;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1.5em;
    opacity: 0.5;
    padding: 0.15em;
    position: absolute;
}