@import "../../style/_colors";
@import "../../style/_constants";

.header {
    background: $color-primary;
    border-bottom: 1px solid $color-primary-darker;
    font-size: 1.8em;
    flex-basis: $header-height;
    height: $header-height;
    line-height: 40px;
    padding: 5px 10px;
    width: 100%;
}

.header__inner {
    display: flex;
    flex-wrap: nowrap;
}

.header__logo {
    flex-basis: 200px;

    img {
        height: 40px;
    }
}

.header__content {
    flex-grow: 1;
    text-align: center;
}

.header__user-menu {
    flex-basis: 200px;
    height: 100%;
    position: relative;
    text-align: right;

    .dropdown {
        font-size: 0.8em;
        left: auto;
        right: 0;
    }
}


.header__user-menu__handle {
    cursor: pointer;
}

.header__user-menu__icon {
    line-height: 40px;
    padding: 0 10px;
    vertical-align: top;
}

@media (max-width: 650px) {
    .header__logo {
        display: none;
    }

    .header__content {
        padding-right: 10px;
    }

    .header__user-menu {
        flex-basis: auto;
    }
}