@import "../../style/_colors";

.canvas-page {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.canvas-page__easel-container {
    height: 100%;
    position: relative;
    width: 100%;

    .select {
        width: 7em;
    }
    
    .slider {
        width: 9em;
    }
}

.canvas-page__easel {
    background: #ffffff;
    height: 100%;
    position: relative;
    width: 100%;
}

.canvas-page__controls {
    font-size: 1.25em;
    position: absolute;
    top: 0;

    .btn span {
        margin-left: 0.5em;
    }
}

.canvas-page__settings {
    bottom: 0;
    position: absolute;
}

.canvas-page__tool-setting {
    background: $color-primary-light;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    display: inline-block;
    height: 3em;
    font-size: 1.5em;
    line-height: 2.5em;
    margin: 0.75em;
    padding: 0.25em 0.75em;
    vertical-align: bottom;

    label,
    .checkbox__label {
        font-size: 1em;
        vertical-align: top;
    }

    &.select {
        width: 200px;
    }

    .select__menu {
        bottom: calc(100% + 0.5em);
        top: auto;
    }
}

.canvas-page__colors {
    height: 3em;
    padding: 0;

    .color-picker {
        height: 100%;
        width: 3em;

        &:first-child {
            border-radius: 3px 0 0 3px;
        }

        &:last-child {
            border-radius: 0 3px 3px 0;
        }
    }
}

.btn--transparent.canvas-page__control-toggle:hover {
    background: opacify($color-primary-light, 0.25);
    color: $color-primary-darker;
    text-shadow: 1px 1px 0 $color-primary-lighter;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.share-modal .input {
    font-size: 1em;
    margin: 1em 0;
    width: 100%;
}

@media screen and (max-width: 56.5em) {
    .canvas-page__controls .btn span {
        display: none;
    }
}