@import "../../style/_colors";

.checkbox {
    display: inline-block;
    height: 30px;
    line-height: 30px;

    input[type="checkbox"] {
        height: 0;
        visibility: hidden;
        width: 0;

        &:checked + label:after {
            opacity: 1;
        }
    }

    label {
        background: $color-primary-dark;
        border: 4px solid $color-primary-light;
        border-radius: 50%;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        display: inline-block;
        height: 30px;
        position: relative;
        width: 30px;

        &:after {
            border: 3px solid #ffffff;
            border-left: none;
            border-top: none;
            content: "";
            height: 9px;
            left: 7px;
            opacity: 0;
            position: absolute;
            top: 4px;
            transform: rotate(45deg);
            width: 5px;
        }
    }
}

.checkbox__label {
    display: inline-block;
    font-size: 1.2em;
    padding: 0 1em;
    vertical-align: top;
}