@import "../../style/_colors.scss";

.create-canvas-page {
    background: $color-primary-dark;
}

.create-canvas-form {
    font-size: 1.25em;
    margin: 0 auto;
    padding: 2em 0;
    width: 400px;

    .btn {
        margin: 0;
        width: 100%;
    }
}

.create-canvas-form__field {
    margin: 1.5em 0;

    & > label {
        display: block;
        font-size: 1.25em;
        font-weight: bold;
        padding: 0.75em 0;
    }

    .input,
    .slider,
    .select {
        margin: 0;
        width: 100%;
    }

    .color-picker {
        height: 50px;
        width: 100%;
    }

    .slider {
        margin-top: 1.5em;
    }
}

.create-canvas-form__error {
    color: $color-tertiary-dark;
    font-size: 1.25em;
    font-weight: bold;
    padding: 0 0 1.5em 0;
}