@import "../../style/_colors.scss";

.index-page {
    background: $color-primary;
    height: 100%;
    padding: 10em 0;
    width: 100%;
}

.index-page__main {
    margin: 0 auto;
    width: 560px;

    img {
        width: 100%;
    }

    .btn {
        height: 3em;
        margin: 1em 0;
        width: 50%;

        &:first-child {
            border-radius: 3px 0 0 3px;
        }

        &:last-child {
            border-radius: 0 3px 3px 0;
        }
    }
}

.index-page__main p {
    font-size: 1.75em;
}

@media screen and (max-width: 560px) {
    .index-page__main {
        padding: 0 2em;
        width: 100%;
    }
}