@import "../../style/_colors.scss";

.index-page {
    background: $color-primary-dark;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    width: 100%;
}

.index-page__search {
    font-size: 0.8em;
    height: 35px;
    margin: 2px 0;
    vertical-align: top;
    width: 300px;
}

.index-page__tabs {
    font-size: 1.5em;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        background: $color-primary-dark;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        padding: 1em;
        text-shadow: 1px 1px 0 $color-primary-darker;
    }

    li.active {
        background: $color-primary;
    }
}

.index-page__content {
    background: $color-primary;
    flex-grow: 1;
    overflow-y: scroll;
    position: relative;
}

@media (max-width: 650px) {
    .index-page__search {
        width: 100%;
    }
}